

<center><h1>Create New Contact</h1></center>

<form action="/contacts" method="post" align="center">
	<table id="table1">
		<tr>
			<td><label for="first_name">First Name:</label></td>
      <td><input type="text" name="first_name" placeholder="eg. John"></td>
		</tr>
		<tr>
  		<td><label for = "last_name">Last Name:</label></td>
      <td><input type="text" name="last_name" placeholder="eg. Smith"></td>
  	</tr>
  	<tr>
  		<td><label for="email">Email:</label></td>
      <td><input type="text" name="email" placeholder="eg. email@email.com"></td>
  	</tr>
  	<tr>
  		<td><label for="notes">Notes:</label></td>
      <td><input type="text" name="note" placeholder="eg. CEO"></td>
  	</tr>
 	</table>
  	<input style = "text-align:center;" type="submit" name="Submit">


</form>
