<center><h1>All Contacts</h1></center>

<ul class ="list">
<% Contact.all.each do |contact| %>
  <li><a href="/contacts/<%= contact.id %>"><%= contact.first_name %> <%= contact.last_name %></a></li>
<% end %>
</ul>