
<div id="welcome_page">
<center>
	<h1>Welcome to <%= @crm_app_name %></h1>
	<p>Main menu</p>
</center>
</div>


<ul class = "list">
  <li><a href="/contacts">View All Contacts</a></li>
  <li><a href="/contacts/new"> Add a Contact</a></li>
</ul>
