<!DOCTYPE html>
<html>
  <head>
		<link rel="stylesheet" type="text/css" href="/style.css">
		<link href='https://fonts.googleapis.com/css?family=Lato:400,700,900italic' rel='stylesheet' type='text/css'>
  </head>
  <body id = "layout_body">
   	<header id = "header_background">
   		<center>
   			<tr><a href = "/" class = "button">Main Menu</a></tr>
   			<tr><a href = "/contacts" class = "button">View All Contacts</a></tr>
   			<tr><a href = "/contacts/new" class = "button">Add A Contact</a></tr>
   		</center>
  	</header>
 			<%= yield %>
	  <footer id="personal_info">
	  	<center>
	  		<table border="0">
	  			<tr>
						<tb>
							<a href='https://twitter.com/DeclineHighFive' id="twitter">
							<img  alt="Twitter" src="/1446764563_twitter-hexagon-gloss-social-media.png" width="40" height="40">
							</a>
						</tb>
						<tb>
							<a href='https://github.com/laurenherdman' id="github">
							<img  alt="Twitter" src="/1446764560_github-hexagon-gloss-social-media.png" width="40" height="40">
							</a>
						</tb>
						<tb>
							<a href='https://www.linkedin.com/pub/lauren-herdman/aa/21b/52b' id ='linkedin'>
							<img  alt="Twitter" src="/1446764568_linkedin-hexagon-gloss-social-media.png" width="40" height="40">
							</a>
						</tb>
	  			</tr>
	  		</table>
	  		Lauren Herdman 2015
 			</center>
 	 	</footer>
  </body>
</html>